<div class="card" style="width: 18rem;">
    <img src="http://localhost:8090/{{contact.image}}" class="card-img-top" alt="Contact Image">
    <div class="card-body">
        <h5 class="card-title">{{contact.name}}</h5>
        <p class="card-text">
            <strong>City:</strong> {{contact.city}}<br>
            <strong>State:</strong> {{contact.state}}<br>
            <strong>Address:</strong> {{contact.address}}<br>
            <strong>Phone:</strong> {{contact.phone}}
        </p>
    </div>
</div>
